<div class="container-fluid h-100">
  {#  <div class="row h-100">
        #}
    {# <div class=" col-lg-6 lh-1 order-1 h-100">
            <div class="row align-items-end p-3 px-lg-5 h-100">
                <div class="col mx-auto">
                    <div class="col-12 p-3 bg-light shadow-lg rounded-3 rotate-sm text-dark  d-inline-block d-lg-none mb-3 h-25 m-auto">
                        <div class="row align-items-center">
                            <div class="col-12 overflow-hidden mb-3">
                                <div class="col-12"
                                     style="background: url('{{ asset('img/spacesuit.jpeg') }}') no-repeat center center/cover">
                                    <div class="col-12 p-3 bg-gradient border-op-50 shadow-lg rounded-5 mt-5 position-absolute rotate-0"
                                         style="top:calc(100% - 18rem);left:1em">
                                        <div class="row align-items-center">
                                            <div class="col text-dark text-end">
                                                <p class="h4 mb-0"><span class="fw-bold">PHP 5 => 8</span></p>
                                                <p class="h4"><span class="fw-bold">Symfony 3 => 6</span></p>
                                            </div>
                                            <div class="col-auto">
                                                <img src="{{ asset('img/symfony.svg') }}" alt="" width="60px">
                                            </div>
                                        </div>
                                    </div>
                                    <img src="https://via.placeholder.com/100" alt="" class="rounded-3 col-12 mb-3 invisible">
                                </div>
                            </div>
                            <div class="row position-absolute rotate-0 align-items-center"
                                 style="top: -.8em;left: -.8em;z-index: 999">
                                <div class="col-12 p-3 bg-gradient border-op-50 shadow-lg rounded-5 mb-5  text-light "
                                     style="border-radius: 5rem">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <img src="{{ asset('img/js.svg') }}" alt="" width="60px" class="rounded-5">
                                        </div>
                                        <div class="col">
                                            <p class="h4 mb-0"><span class="fw-bold">JavaScript <span class="text-white text-shadow fw-normal">addicted</span></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <h3 class="mb-0 lh--1 text-nowrap">@Sam BZEZ</h3>
                                <h4 class="text-black-50 mb-0"># Full-Stack Dev & Former</h4>
                                <h5 class="text-danger mb-0">Since 2008 and it's pretty fun</h5>
                                <h6 class="text-dark mb-0">Made with <i class="bi bi-heart-fill text-danger"></i>, pure
                                    JS & SF5... mom said "<u>much wow</u>" !</h6>
                            </div>
                        </div>
                    </div>
                    <h1 class="display-1 fw-bold mb-0 lh--1 text-nowrap">all you
                        <span class="d-inline-block position-relative fw-bold">need is <em class="">love</em>
                    <svg class="position-absolute" style="bottom: 25%;left: 0;" viewBox="0 0 274 8">
                        <path fill="none" stroke="#dc3545" stroke-width="8"
                              d="M174,456.290698 C307.466899,452.763566 398.466899,451 447,451"
                              transform="translate(-173 -450)">
                        </path>
                    </svg>
                </span>
                    </h1>
                    <h2 class="display-1 fw-bold lh--1 text-nowrap">need is
                        <span class="fst-italic">code</span>...</h2>
                    <p class="h6 col-sm-8 col-md-8 col-lg-8  mt-3">The metaverse is the next evolution of social
                        connection. Our
                        company’s
                        vision is to help bring the metaverse to life, so we are changing our name to reflect our
                        commitment to
                        this future.</p>
                    <a href="{{ path('app',{route:'test'}) }}" role="button"
                       class="btn btn-lg btn-primary mt-3 shadow-lg z-menu"
                       data-bz-auth="{{ csrf_token('navs') }}">Discover <i class="bi bi-magic small"></i></a>
                </div>
            </div>
        </div> #}
    {#
        <div class="col-sm-8 col-md-6 col-xl-5 col-xxl-4 mx-auto order-0">
            <div class="row align-items-center h-100">
                <div class="col p-3 mx-auto">
                    <div class="p-4 bg-light shadow-lg rounded-3 rotate-sm text-dark">
                        <div class="row align-items-center">
                            <div class="overflow-hidden col-12">
                                <div class="col-12"
                                     style="/*background: url('') no-repeat center center/cover*/">
                                    <div class="col-12 p-3 bg-gradient border-op-50 shadow-lg rounded-5 mt-5 position-absolute rotate-0"
                                         style="top:calc(100% - 17.5rem);left:.7rem">
                                        <div class="row align-items-center">
                                            <div class="col text-dark text-end">
                                                <p class="h4"><span class="fw-bold">Symfony 5</span> <em
                                                            class="text-white text-shadow"><span
                                                                class="small d-none d-xxl-inline-block">...from <u>PropertyInfo</u> to <u>UX Turbo</u></span></em>
                                                </p>
                                            </div>
                                            <div class="col-auto">
                                                <img src="{{ asset('img/symfony.svg') }}" alt="" width="50px">
                                            </div>
                                        </div>
                                    </div>
                                    <img src="https://via.placeholder.com/100" alt="" class="col-12">
                                </div>
                            </div>
                            <div class="row position-absolute rotate-0 align-items-center"
                                 style="top: -1.7em;left: -.7em;z-index: 999;/*text-shadow: 2px 2px 4px #000000;*/">
                                <div class="col-12 p-3 bg-gradient border-op-50 shadow-lg rounded-5 mb-5  text-light "
                                     style="border-radius: 5rem">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <img src="{{ asset('img/js.svg') }}" alt="" width="50px" class="rounded-5 col">
                                        </div>
                                        <div class="col">
                                            <p class="h4"><span class="fw-bold text-dark">JavaScript</span> <em
                                                        class="text-dark"><span class="small d-none d-xxl-inline-block">...yes <b>plainJS</b> is <b>better</b></span></em>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-3">
                                <h3 class="mb-0 lh--1 text-nowrap">@{{ app.user.userIdentifier }}</h3>
                                <h4 class="h5 text-black-50 mb-0"># Full-Stack Developer & Former</h4>
                                <h5 class="text-danger mb-0 lh--1">Since 2008 and it's pretty fun</h5>
                                <h6 class="text-dark mb-0">Made with <i class="bi bi-heart-fill text-danger"></i>, pure
                                    JS & SF5... mom said "<u>much wow</u>" !</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>#}
</div>